<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <script>
        "use strict"; 

        var s = "0x20BB7";
        console.log(s.length);
        console.log(s.charAt(0));
        console.log(s.charAt(1));
        console.log(s.charCodeAt(0));
        console.log(s.charCodeAt(1));

        for (let codePoint of 'foo') {
            console.log(codePoint);
        }

        var text = String.fromCodePoint(0x20BB7);
        for (let i = 0; i < text.length; i++) {
            console.log(text[i]);
        }

        for (let i of text) {
            console.log(i);
        }

        var s = 'Hello World';
        console.log(s.startsWith('Hello'));
        console.log(s.startsWith('hello'));
        console.log(s.endsWith('d'));
        console.log(s.endsWith('D'));

        console.log(s.startsWith('World', 6));//true
        console.log(s.endsWith('Hello', 5));//true, 前4个字符

        console.log('x'.repeat(4));
        console.log('na'.repeat(0));
        console.log('na'.repeat(2.9));
        // console.log('na'.repeat(-1));//报错
        // console.log('na'.replace(Infinity));//报错

        console.log(`string test line 1
            string test line 2`);
        

        function fn() {
            return 'Hello World!';
        }

        console.log(`function fn : ${fn()}`);


        const tmpl = addrs => `
            <table>
            ${addrs.map(addr => `
                <tr><td>${addr.first}</td></tr>
                <tr><td>${addr.last}</td></tr>
            `).join('')}
            </table>
        `;

        const data = [
            { first : '<Jane>', last: 'Bond'},
            { first : 'Lars', last: '<Croft>>'},
        ];

        console.log(tmpl(data));

        // 写法一
        // let str = 'return ' + '`Hello ${name}`';
        // let func = new Function('name', str);
        // console.log(func('Jack'));

        // 写法二
        let str = '(name) => `Hello ${name}`';
        let func = eval.call(null, str);
        console.log(func('Jack'));

        var template = `
        <ul>
            <% for(var i=0; i<data.supplies.length; i++) { %>
                <li><%= data.supplies[i] %></li>
            <% } %>
        </ul>
        `;

        // function compile(template) {
        //     var evalExpr = /<%=(.+?)%>/g;
        //     var expr = /<%([\s\S]+?)%>/g;

        //     template = template
        //         .replace(evalExpr, )
        // }
        </script>
    </head>
    <body>
    </body>
</html>